body {
    nav {
        width: 100%;
        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            li {
                padding: 5px 5px 5px 5px;
                a {
                    text-decoration: none;
                }
            }
            .nav-title {
                a {
                    color: coral;
                }
            }
            .nav-text {
                color: black;
            }
            .nav-spacer {
                flex-grow: 1;
            }
            .nav-link {
                background-color: deepskyblue;
                a {
                    color: black;
                }
            }
            .nav-link:hover {
                background-color: skyblue;
            }
        }
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    

    .create-btn {
        width: 100%;
    }

    .join {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgrey;
}