{% extends "base.html" %}
{% block content %}
<div class="buttons">
    <h3>Chat Rooms</h3>

    {% for code in room_codes %}
    <form method="post" class="join">
        <strong>{{code}}</strong>
        <input type="hidden" name="code" value="{{code}}"/>
        <button type="submit" name="join" value="Join">Join</button>
    </form>
    {% endfor %}

    <form method="post">
        <button type="submit" name="create" class="create-btn">Create a Room</button>
    </form>

    {% if error %}
    <ul>
        <li>{{ error }}</li>
    </ul>
    {% endif %}

</div>
{% endblock %}
